node_modules/
.idea/
wwwroot/build/
wwwroot/init/
wwwroot/doc/
wwwroot/index.html
wwwroot/config.json
npm-debug.log
version.js
version.json
wwwroot/init/nm.json
datasources/00_National_Data_Sets.json
.DS_Store
.localized
.sass-cache
/terriajs.pid
/terriajs-server.log
devserverconfig.json
serverconfig.json
productionserverconfig.json
/wwwroot/editor/
/error.log
/error.log
/output.log
privateserverconfig.json
wwwroot/privateconfig.json
wwwroot/leylines-geodata
wwwroot/catalogs
deploy/packages/
deploy/work/
packages/
pancake/
yarn-error.log
package-lock.json
.nvmrc
.tool-versions
